.container {
  padding: 1rem 0;
  background-color: hsl(0deg 0% 22%);
}

header {
  display: flex;
  align-items: center;
  margin: 0;
  max-width: var(--max-width);
  margin: 0 auto;
  color: white;
  padding: 0 10px;
}

form {
  width: 100%;
  margin: 0 16px;
}

input {
  background: url(../../../assets/img/icon-busca.png) no-repeat scroll 5px;
  background-position: 98%;
  background-color: white;
  min-width: 17ch;
  width: 100%;
  padding: 10px 0;
  padding-left: 16px;
}

input:focus {
  outline: 1px solid var(--primary-color);
}

input::placeholder {
  display: inline;
  font-style: italic;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 10px;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

li {
  display: flex;
}

.active {
  background-color: white;
  color: var(--primary-color);
  margin-top: -16px;
  margin-bottom: -16px;
}
