<div class="container">
  <header>
    <img [src]="imgSrc" alt="Logo coco bambu" />
    <form (submit)="onChangeInput()">
      <input
        type="text"
        class="search"
        name="searchRecipes"
        placeholder="Buscar receita..."
        [(ngModel)]="search"
        (input)="onChangeInput()"
      />
    </form>
    <h1></h1>
    <nav>
      <ul>
        <li>
          <a routerLink="/pedidos" routerLinkActive="active">
            <mat-icon>data_usage</mat-icon>
            Pedidos
          </a>
        </li>
        <li>
          <a routerLink="/receitas" routerLinkActive="active">
            <mat-icon>restaurant_menu </mat-icon>
            Receitas
          </a>
        </li>
        <li>
          <a routerLink="/">
            <mat-icon>clear</mat-icon>
            Sair
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<br />
